<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!--  -->
<% end %>


<!-- start test-->

<h1 class="modal-title" id='msg' align='center' style="text-align: center"></h1>

<div id = "myAlert" class = "page-header" align="center">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
<!--    <strong>Nice work - you're done!</strong> -->
</div>

<!--   <div class='container-fluid'>
    <div class='col-xs-12'> -->


<div class="hero-unit">
<!-- <div class="col-xs-8"> -->
<!-- <div class="hero-unit"> -->
      <div class="btn-group" role="group" >
        <button id='start' class='btn btn-primary center-block'>Start
        <span class="glyphicon glyphicon-record">
        </button>
      <button id='pause' class='btn btn-primary center-block pause'>Pause
<!-- <span class="glyphicon glyphicon-pause"> -->
      </button>
      <button id='reset' class='btn btn-primary center-block'>Reset</button>
    </div><!--Row Closer-->

      <label for='work'>Flow timer (min): </label>
      <input autofocus id='work' type='text' min=0 max=200 value='25' >
       <%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


  <div class="field">
    <%= f.text_area :content, placeholder: "Flow block title..." %>
<br></br>


  <%= f.submit "Post", class: "btn btn-large btn-primary", id: "saveEntry" %>

    </div>


<div class="panel panel-default">
  <div class="panel-body col-xs-4">


</div>
</div>
  </div>
    </div>


<% end %>
